.types {
    position: relative;
    flex: 0 0 auto;
    width: 170px;
    padding: 10px;
    height: 100%;
    border-right: 1px solid #6060a0;
    box-shadow: 0 5px 5px 5px #e0e0e0;
    overflow: auto;
}


.running:after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}